In [78]:
import pandas as pd
df = pd.read_csv("yesbank/Campaign2_NC_dec.csv")
print("\nFeatures/Columns : \n", df.columns)
print("\n\nNumber of Features/Columns : ", len(df.columns))
print("\nNumber of Rows : ",len(df))
print("\nDimension of dataFrame : ",df.shape)
# df

Features/Columns :
 Index(['Month', 'ID', 'created_time', 'Interested_in', 'Name', 'Email',
       'RegisteredEmail', 'City', 'Phone', 'Mobile', 'AppointmentDate',
       'AppointmentTime', 'PANno', 'Adset', 'IPAddress', 'Referer', 'Campaign',
       'Dateadded', 'Dispostion_Status', 'Dateupdated', 'Remark',
       'Call_Back_Date', 'Contactable', 'Alternate_Mobile_Number', 'Product',
       'Country', 'Country_Code', 'Age_of_Company', 'Turnover', 'Loan_Amount',
       'Branch_Name', 'gclid', 'ZeroBalanceSavings', 'Tellecaller',
       'Mobile No', 'Disposition', 'Disp', 'Remarks', 'Attempts'],
      dtype='object')


Number of Features/Columns :  39

Number of Rows :  19700

Dimension of dataFrame :  (19700, 39)

In [82]:
df=df[['Interested_in','City','Disposition','Referer','Campaign','Disp']]
df.to_csv("new.csv")

In [4]:
print("\n Contains NaN/Empty cells : ", df.isnull().values.any())
print("\n\nData Types :\n", df.dtypes)
print("\n Total empty cells by column :\n", df.isnull().sum(), "\n\n")

 Contains NaN/Empty cells :  True


Data Types :
 Interested_in    object
City             object
Disposition      object
Referer          object
Campaign         object
Disp             object
dtype: object

 Total empty cells by column :
 Interested_in    4552
City                1
Disposition         0
Referer             0
Campaign           24
Disp                0
dtype: int64

In [5]:
print("Original Length of Training Set : ", len(df))
df = df.dropna()
print("Length of Training Set after dropping NaN: ", len(df))

Original Length of Training Set :  19700
Length of Training Set after dropping NaN:  15128

In [83]:
df = df.head(2000)

In [7]:
import numpy as np
print('-'*50)
print(df.groupby('Referer').size())
print('-'*50)
print(df.groupby('Disposition').size())
print('-'*50)
print(df.groupby('Campaign').size())
print('-'*50)
print(df.groupby('Interested_in').size())
print('-'*50)
print(df.groupby('City').size())

--------------------------------------------------
Referer
Current Account                    627
Savings Account customizable       303
Savings Account-6 percent            6
Savings Account-70 percent         372
Savings Account-SeniorcitizenFD     25
Savings Account-fixed deposit      379
Yes First                          288
dtype: int64
--------------------------------------------------
Disposition
CDR Disposition - Not Contactable                        11
CDR disposition-Not Contactable                          25
CDR disposition-Not Contactable-Ringing No Response       1
Customer Disconnected                                   555
Not Contactable-Busy                                    312
Not Contactable-Language Barrier                        118
Not Contactable-Not reachable / Switched Off            242
Not Contactable-Number temporary Not in Service          68
Not Contactable-Ringing No Response                     631
Not Contactable-Wrong Number / Number does not exist     26
OCM disposition - Not contactable                        11
dtype: int64
--------------------------------------------------
Campaign
-                                                                 1
-YesCommunity                                                     1
Current_Account_B2B                                             394
Current_Account_Lookalike                                       111
Current_Account_Regional_News                                     1
Display_snapdeal-affiliate                                       17
Display_snapdeal-affiliate,AndroidNew                            10
PB_6pecent-aPB                                                    4
PB_6pecent-aPB2                                                  21
PB_7.5percent_FD-aPB                                              2
PB_70pecent_savings-aPB                                           1
Search_India_YES_First_Advantage_BMM                             35
Search_India_YES_First_Advantage_Exact                            1
Search_India_YES_First_Advantage_Exclusive_BMM                    7
Search_India_YES_First_BMM                                        2
Search_India_YES_First_Exact                                      1
Search_India_YES_First_Lateral_BMM                                4
Search_India_YES_First_Lateral_Exact                              1
Search_India_YES_First_Wealth_Management_BMM                      3
Search_India_YES_First_Wealth_Management_Exact                    1
Search_PAN_India_Brand_Fixed_Deposit_BMM-google                   9
Search_PAN_India_Brand_Fixed_Deposit_Exact-google                33
Search_PAN_India_Brand_Max_Imp_Share_Exact-google                 8
Search_PAN_India_Brand_Yes_Insta_Desktop_Exact_New_LP-google      1
Search_PAN_India_Brand_Yes_Insta_Mobile_Exact_New_LP-google       6
Search_PAN_India_Competition_Exact-google                         1
Search_PAN_India_Core_Fixed_Deposit_BMM-google                   19
Search_PAN_India_Core_Fixed_Deposit_Exact-google                  5
Search_PAN_India_Lateral_BMM-google                               1
Search_PAN_India_Senior_Citizen_Fixed_Deposit_Core_BMM            2
                                                               ...
mailer_Affle_6percent_SA_1374_1193-affiliate                      6
mailer_Apoxy_6percent_SA-affiliate                               72
mailer_Apoxy_70percent_SA-affiliate                              14
mailer_Dangleads_6percent_SA-affiliate                            2
mailer_Icubes_70percent_SA_3618-affiliate                         2
mailer_Icubes_Fixeddeposit_SA_3010-affiliate                      2
mailer_Leadsurf-affiliate                                         2
mailer_Luvia_6percent_SA_Pub3-affiliate                           1
mailer_Luvia_70percent_SA_Pub8-affiliate                          2
mailer_Valueleaf-affiliate                                        1
mailer_mobtray_6percent-affiliate                                26
mailer_netcore_6percent_SA_1004-affiliate                        47
mailer_netcore_6percent_SA_1276-affiliate                         3
mailer_netcore_6percent_SA_2343-affiliate                         1
mailer_publishername_6percent_SA-affiliate                       17
mailer_publishername_70percent_SA-affiliate                      41
mailer_trackbackmedia_6percent_SA-affiliate                      13
mailer_valueleaf_70percent_SA-1133                               45
mailer_valueleaf_70percent_SA-1137                               39
mailer_valueleaf_70percent_SA-1139                               41
mailer_valueleaf_70percent_SA-1223                               69
mailer_valueleaf_70percent_SA-1225                               26
mailer_valueleaf_70percent_SA-1267                               15
mailer_valueleaf_70percent_SA-1269                               74
mailer_ventes_6percent_SA_28_-affiliate                           1
mailer_ventes_6percent_SA_54_-affiliate                          32
mailer_way2online-affiliate                                       2
mailer_xapads_6percent_SA-affiliate                               5
nativeads_columbia_yesfirst                                       5
nativeads_yahoo_yesfirst                                         50
Length: 90, dtype: int64
--------------------------------------------------
Interested_in
,Credit Card                                                            282
,Credit Card,Current Account                                             53
,Credit Card,Current Account,Trading Account                             11
,Credit Card,Loans                                                       38
,Credit Card,Loans,Current Account                                       17
,Credit Card,Loans,Current Account,Trading Account                      104
,Credit Card,Loans,Trading Account                                       24
,Credit Card,Trading Account                                             44
,Current Account                                                        214
,Current Account,Trading Account                                         33
,Loans                                                                  216
,Loans,Current Account                                                   15
,Loans,Current Account,Trading Account                                    5
,Loans,Trading Account                                                    7
,Trading Account                                                        170
Business Credit Cards,                                                   70
Business Credit Cards, Savings Account ,                                 38
Business Loan,                                                           86
Business Loan, Business Credit Cards,                                    23
Business Loan, Business Credit Cards, Savings Account ,                  24
Business Loan, Savings Account ,                                         18
POS Machine,                                                             10
POS Machine, Business Credit Cards,                                       5
POS Machine, Business Credit Cards, Savings Account ,                     7
POS Machine, Business Loan,                                               6
POS Machine, Business Loan, Business Credit Cards,                       12
POS Machine, Business Loan, Business Credit Cards, Savings Account ,     52
POS Machine, Business Loan, Savings Account ,                             4
POS Machine, Savings Account ,                                            2
Saving Account                                                          143
Savings Account ,                                                       267
dtype: int64
--------------------------------------------------
City
Adityapur                         3
Agartala                          7
Agra                             14
Ahmadnagar                       13
Ahmedabad                        48
Ahmednagar                        2
Aizawl                            1
Ajmer                             8
Aligarh                           7
Allahabad                        20
Alwar                            12
Ambala                            4
Ambur                             3
Amravati                         11
Amreli                            2
Amritsar                          7
Amroha (Jyotiba Phule Nagar)      1
Anand                             3
Anantnag                          3
Ankleshwar                        1
Asansol                           2
Aurangabad                       33
Badlapur                          1
Bagalkote                         2
Baghpat                           2
Bahadurgarh                       1
Balotra                           2
Bangalore                       152
Banswara                          3
Barabanki                         3
                               ...
Surat                            26
Surendranagar                     1
Suryapet                          1
Tejpur                            2
Thane                            14
Thiruvananthapuram                4
Thrissur                          3
Tinsukiya                         2
Tiruchirappalli                  15
Tirupati                          4
Tiruppur                         19
Tiruvalla                         1
Tonk                              1
Tuticorin                         3
Udaipur                           4
Uddham Singh Nagar                3
Udupi                             1
Ujjain                            4
Vadodara                          6
Valsad                            2
Vapi                              1
Varanasi                          5
Veraval                           1
Vidisha                           2
Vijayawada                        7
Vizag                             8
Vizianagaram                      4
Warangal                         10
Yadgir                            5
Yamuna Nagar                      2
Length: 268, dtype: int64

In [74]:
#import matplotlib.pyplot as plt
#plt.scatter(df['Referer'],df['Disposition'])

In [84]:
import pandas as pd
df = pd.read_csv("yesbank/Campaign2_NC_nov.csv")
print("\nFeatures/Columns : \n", df.columns)
print("\n\nNumber of Features/Columns : ", len(df.columns))
print("\nNumber of Rows : ",len(df))
print("\nDimension of dataFrame : ",df.shape)

Features/Columns :
 Index(['Month', 'ID', 'created_time', 'Interested_in', 'Name', 'Email',
       'RegisteredEmail', 'City', 'Phone', 'Mobile', 'AppointmentDate',
       'AppointmentTime', 'PANno', 'Adset', 'IPAddress', 'Referer', 'Campaign',
       'Dateadded', 'Dispostion_Status', 'Dateupdated', 'Remark',
       'Call_Back_Date', 'Contactable', 'Alternate_Mobile_Number', 'Product',
       'Country', 'Country_Code', 'Age_of_Company', 'Turnover', 'Loan_Amount',
       'Branch_Name', 'gclid', 'ZeroBalanceSavings', 'Tellecaller',
       'Mobile No', 'Disposition', 'Disp', 'Remarks', 'Attempts'],
      dtype='object')


Number of Features/Columns :  39

Number of Rows :  31336

Dimension of dataFrame :  (31336, 39)

In [85]:
print("\n Contains NaN/Empty cells : ", df.isnull().values.any())
print("\n\nData Types :\n", df.dtypes)
print("\n Total empty cells by column :\n", df.isnull().sum(), "\n\n")

 Contains NaN/Empty cells :  True


Data Types :
 Month                       object
ID                           int64
created_time               float64
Interested_in               object
Name                        object
Email                       object
RegisteredEmail            float64
City                        object
Phone                       object
Mobile                      object
AppointmentDate            float64
AppointmentTime            float64
PANno                      float64
Adset                      float64
IPAddress                   object
Referer                     object
Campaign                    object
Dateadded                   object
Dispostion_Status          float64
Dateupdated                float64
Remark                     float64
Call_Back_Date             float64
Contactable                float64
Alternate_Mobile_Number    float64
Product                    float64
Country                    float64
Country_Code               float64
Age_of_Company             float64
Turnover                   float64
Loan_Amount                float64
Branch_Name                float64
gclid                       object
ZeroBalanceSavings          object
Tellecaller                float64
Mobile No                   object
Disposition                 object
Disp                        object
Remarks                     object
Attempts                     int64
dtype: object

 Total empty cells by column :
 Month                          0
ID                             0
created_time               31336
Interested_in               6928
Name                           0
Email                          0
RegisteredEmail            31336
City                           3
Phone                          0
Mobile                         0
AppointmentDate            31336
AppointmentTime            31336
PANno                      31336
Adset                      31336
IPAddress                      0
Referer                        0
Campaign                    1605
Dateadded                      0
Dispostion_Status          31336
Dateupdated                31336
Remark                     31336
Call_Back_Date             31336
Contactable                31336
Alternate_Mobile_Number    31336
Product                    31336
Country                    31336
Country_Code               31336
Age_of_Company             31336
Turnover                   31336
Loan_Amount                31336
Branch_Name                31336
gclid                      25821
ZeroBalanceSavings         16997
Tellecaller                31336
Mobile No                      0
Disposition                    0
Disp                           0
Remarks                      267
Attempts                       0
dtype: int64

In [86]:
print("Original Length of Training Set : ", len(df))
df = df.dropna()
print("Length of Training Set after dropping NaN: ", len(df))

Original Length of Training Set :  31336
Length of Training Set after dropping NaN:  0

In [87]:
df = df.head(2000)

In [88]:
with open('new.csv', 'a') as f:
    df.to_csv(f, header=False)

In [89]:
df = pd.read_csv("yesbank/Campaign2_NC_oct.csv")
print("\nFeatures/Columns : \n", df.columns)
print("\n\nNumber of Features/Columns : ", len(df.columns))
print("\nNumber of Rows : ",len(df))
print("\nDimension of dataFrame : ",df.shape)

Features/Columns :
 Index(['Month', 'ID', 'created_time', 'Interested_in', 'Name', 'Email',
       'RegisteredEmail', 'City', 'Phone', 'Mobile', 'AppointmentDate',
       'AppointmentTime', 'PANno', 'Adset', 'IPAddress', 'Referer', 'Campaign',
       'Dateadded', 'Dispostion_Status', 'Dateupdated', 'Remark',
       'Call_Back_Date', 'Contactable', 'Alternate_Mobile_Number', 'Product',
       'Country', 'Country_Code', 'Age_of_Company', 'Turnover', 'Loan_Amount',
       'Branch_Name', 'gclid', 'ZeroBalanceSavings', 'Tellecaller',
       'Mobile No', 'Disposition', 'Disp', 'Attempts'],
      dtype='object')


Number of Features/Columns :  38

Number of Rows :  23099

Dimension of dataFrame :  (23099, 38)

In [90]:
df=df[['Interested_in','City','Disposition','Referer','Campaign','Disp']]

In [91]:
print("\n Contains NaN/Empty cells : ", df.isnull().values.any())
print("\n\nData Types :\n", df.dtypes)
print("\n Total empty cells by column :\n", df.isnull().sum(), "\n\n")

 Contains NaN/Empty cells :  True


Data Types :
 Interested_in    object
City             object
Disposition      object
Referer          object
Campaign         object
Disp             object
dtype: object

 Total empty cells by column :
 Interested_in    6031
City                2
Disposition         0
Referer             0
Campaign         1090
Disp                0
dtype: int64

In [69]:
print("Original Length of Training Set : ", len(df))
df = df.dropna()
print("Length of Training Set after dropping NaN: ", len(df))

Original Length of Training Set :  0
Length of Training Set after dropping NaN:  0

In [71]:
df = df.head(2000)

In [92]:
df = pd.read_csv("new.csv", encoding = "ISO-8859-1")

In [93]:
df=df[['Interested_in','City','Disposition','Referer','Campaign','Disp']]

In [94]:
df = pd.read_csv("yesbank/Campaign2_NC_dec.csv")